<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
        <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=29dd0bd5154e605b9a64aaf900dc9f75"></script> 
		<script>
	//初始化地图插件
	window.onload = function(){
		var map = new AMap.Map('wrapper');
	}
</script>
<style>
        #wrapper{
            width: 500px;
            height: 500px;
        }
    </style>
    
    <div id="wrapper">
			
    </div>
</body>
</html>