.div_display_flex {
  display: flex;
}
/* 背景色 */
.backgroun_color_fff {
  background-color: #ffffff
}

.backgroun_color_fe01 {
  background-color: #ffe001
}
.backgroun_color_f3{
  background-color:#F3F5F8
}
.backgroun_color_4A{
  background-color: #4A7B67
}
.backgroun_color_D5{
  background-color: #D5D5D5
}
.backgroun_color_76{
  background-color: #769EF6
}
.backgroun_color_17{
  background-color: #17DECA
}
.backgroun_color_E8{
  background-color: #E8BB7A
}
.backgroun_color_FF8{
  background-color: #FF8D84
}
.backgroun_color_B6{
  background-color: #B691FD
}
.backgroun_color_E9{
  background-color: #E9EFEC
}
/* margin */
.margin_top_div8 {
  margin-top: 8%;
}

.margin_top_div3 {
  margin-top: 3%;
}
.margin_top_div1 {
  margin-top: 1%;
}

.margin_top_div4 {
  margin-top: 4%;
}

.margin_top_div5 {
  margin-top: 5%;
}
.margin_top_div12{
  margin-top: 12%;
}
.margin_left_div2 {
  margin-left: 2%;
}
.margin_right_div2 {
  margin-right: 2%;
}
.margin_right_div6 {
  margin-right: 6%;
}
.margin_left_div3{
  margin-left:3%;
}
.margin_left_div6{
  margin-left:6%;
}
.margin_left_div8{
  margin-left:8%;
}
.margin_right_div3{
  margin-right: 3%
}
.padding_bottom_4{
  padding-bottom: 4%;
}
.padding_bottom_2{
  padding-bottom: 2%;
}
.padding_top_div3{
  padding-top:3%
}
.padding_top_div6{
  padding-top:6%
}
.padding_left_div3{
  padding-left: 3%
}
.padding_top_div5{
  padding-top:5%
}
.padding_top_div8{
  padding-top:8%
}
.div_text_left {
  text-align: left;
  margin-left: 4%
}

.order_bt_b {
  width: 100px;
  background-color: #ffe001;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 2;
}

/* 字体 */
.font_color_00 {
  color: #000
}
.font_color_10{
  color: #102023
}
.font_color_99 {
  color: #999999
}

.font_color_66 {
  color: #666
}

.font_color_33 {
  color: #333
}
.font_color_010 {
  color: #010101
}
.font_color_ff{
  color: #FFFFFF
}
.font_color_102{
color: #102023
}
.font_color_1A{
  color: #1A202C
}
.font_color_4A{
 color: #4A7B67
}
.font_color_A1{
  color: #A1A1A1
}
.font_color_76{
  color:#764C02
}
.font_color_E8{
  color:#E8BB7A
}
/* 字号 */
.font_size_11 {
  font-size: 11px
}

.font_size_13 {
  font-size: 13px
}

.font_size_14 {
  font-size: 14px
}

.font_size_15 {
  font-size: 15px
}

.font_size_16 {
  font-size: 16px
}

.font_size_18 {
  font-size: 18px;
}
.font_size_25{
  font-size: 25px;
}
.font_size_30{
  font-size: 30px;
}
.font_size_12{
  font-size:12px
}
/* 字体删除线 */
.font_text_decoration {
  text-decoration: line-through;
}

/* 弹出层 */
.model_background {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.model_center_n {
  position: fixed;
  display: block;
  z-index: 10;
  width: 100%;
  max-height: 388px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow-x: hidden;
  bottom: 54px;
}

.nodata{
  width:100%;
  height:100%;
  font-size: 1rem;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt-50{
  margin-top: 50%;
}

.dischoice {
  user-select: none; 
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;

}

.red{
  color: #FF3636;
}
/* div宽度 */
.div_width_50 {
  width: 50%;
}
.div_width_70{
  width:70%
}
.div_width_80{
  width:80%
}
.div_width_20{
  width:20%
}
.div_width_30{
  width:30%
}
.div_width_33{
  width:33%
}
.div_width_40{
  width:40%
}
.div_width_43{
  width:43%
}
.div_width_45{
  width:45%
}
/* 内容位置 */
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
/* 图片 */
.img_width_100{
  width: 100%
}
.img_width25{
  width: 25px;
}

/* 布局 */
.flex-between{
  display: flex;
  justify-content: space-between;
}

.flex-clo{
  flex-direction: column;
}

.flex-around{
  display: flex;
  justify-content: space-around;
}

.align-center{
  align-items: center;
}