a{
  text-decoration: none;
}
.div_display_flex {
  display: flex;
}
iframe{
  display: none;
}
/* 背景色 */
.backgroun_color_fff {
  background-color: #ffffff
}

.backgroun_color_fe01 {
  background-color: #ffe001
}
.backgroun_color_f3{
  background-color:#F3F5F8
}
.backgroun_color_4A{
  background-color: #4A7B67
}
.backgroun_color_D5{
  background-color: #D5D5D5
}
.backgroun_color_76{
  background-color: #769EF6
}
.backgroun_color_17{
  background-color: #17DECA
}
.backgroun_color_E8{
  background-color: #E8BB7A
}
.backgroun_color_FF8{
  background-color: #FF8D84
}
.backgroun_color_B6{
  background-color: #B691FD
}
.backgroun_color_E9{
  background-color: #E9EFEC
}
.background_color_F8{
  background-color: #F8F8F8
}

/* margin */
.margin_top_div3 {
  margin-top: 3%;
}
.margin_top_div1 {
  margin-top: 1%;
}
.margin_top_div2 {
  margin-top: 2%;
}
.margin_top_div4 {
  margin-top: 4%;
}

.margin_top_div5 {
  margin-top: 5%;
}
.margin_top_div6 {
  margin-top: 6%;
}
.margin_top_div8 {
  margin-top: 8%;
}
.margin_top_div12{
  margin-top: 8%;
}
.margin_left_div2 {
  margin-left: 2%;
}
.margin_right_div2 {
  margin-right: 2%;
}
.margin_right_div6 {
  margin-right: 6%;
}
.margin_left_div3{
  margin-left:3%;
}
.margin_left_div6{
  margin-left:6%;
}
.margin_left_div8{
  margin-left:8%;
}
.margin_right_div3{
  margin-right: 3%
}
.margin_bottom_8{
  margin-bottom: 8%
}
.padding_bottom_4{
  padding-bottom: 4%;
}
.padding_bottom_2{
  padding-bottom: 2%;
}
.padding_top_div3{
  padding-top:3%
}
.padding_top_div6{
  padding-top:6%
}
.padding_left_div3{
  padding-left: 3%
}
.padding_top_div5{
  padding-top:5%
}
.padding_top_div8{
  padding-top:8%
}
.padding_t1_l2{
  padding: 1% 2%;
}
.div_text_left {
  text-align: left;
  margin-left: 4%
}

.order_bt_b {
  width: 100px;
  background-color: #ffe001;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 2;
}

/* 字体 */
.font_color_00 {
  color: #000
}
.font_color_10{
  color: #102023
}
.font_color_99 {
  color: #999999
}

.font_color_66 {
  color: #666
}

.font_color_33 {
  color: #333
}
.font_color_010 {
  color: #010101
}
.font_color_ff{
  color: #FFFFFF
}
.font_color_102{
color: #102023
}
.font_color_1A{
  color: #1A202C
}
.font_color_4A{
 color: #4A7B67
}
.font_color_A1{
  color: #A1A1A1
}
.font_color_76{
  color:#764C02
}
.font_color_E8{
  color:#E8BB7A
}
.font_color_BF{
  color: #BFBFBF;
  font-size: .28rem;
  padding-bottom: 0.05rem;
}
/* 字号 */
.font_size_11 {
  font-size: 11px
}

.font_size_13 {
  font-size: 13px
}

.font_size_14 {
  font-size: 14px
}

.font_size_15 {
  font-size: 15px
}

.font_size_16 {
  font-size: 16px
}

.font_size_18 {
  font-size: 18px;
}
.font_size_23{
  font-size: 23px;
}
.font_size_25{
  font-size: 25px;
}
.font_size_30{
  font-size: 30px;
}
.font_size_33{
  font-size: 33px;
}
.font_size_12{
  font-size:16px
}
/* 字体删除线 */
.font_text_decoration {
  text-decoration: line-through;
}

/* 弹出层 */
.model_background {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.model_center_n {
  position: fixed;
  display: block;
  z-index: 10;
  width: 100%;
  max-height: 388px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow-x: hidden;
  bottom: 54px;
}

.nodata{
  width:100%;
  height:100%;
  font-size: 1rem;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt-50{
  margin-top: 50%;
}

.dischoice {
  user-select: none; 
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;

}

.red{
  color: #E6435A;
}
/* div宽度 */
.div_width_8{
  width:8%
}
.div_width_15{
  width:15%
}
.div_width_20{
  width:20%
}
.div_width_25{
  width:25%
}
.div_width_30{
  width:30%
}
.div_width_33{
  width:33%
}
.div_width_40{
  width:40%
}
.div_width_43{
  width:43%
}
.div_width_45{
  width:45%
}
.div_width_50 {
  width: 50%;
}
.div_width_70{
  width:70%
}
.div_width_75{
  width:75%
}
.div_width_80{
  width:80%
}
/* 内容位置 */
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
/* 图片 */
.img_width_100{
  width: 100%
}
.img_width25{
  width: 25px;
}

/* 布局 */
.flex-between{
  display: flex;
  justify-content: space-between;
}

.flex-clo{
  flex-direction: column;
}

.flex-around{
  display: flex;
  justify-content: space-around;
}
.flex-start{
  display: flex;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}
.align-center{
  align-items: center;
}
/* 小🍟 */
.sy_s_t {
  width: 6px;
  height: 23px;
  background-color: #ff8156;
  border-radius: 5px
}
.s_t{
  width: 2px;
height: 15px;
background-color: #4a7b67;
margin-top: 1%;
border: 1px solid #4a7b67;
border-radius: 10px;
}
/* 密码输入框样式 */
.model_password {
  width: 90%;
  margin-left: 5%;
  border-radius: 8px;
}
.pass_input {
  border: 1px solid #979797;
  width: 100%;
  margin-left: -2%;
  line-height: 2;
  font-size: 32px;
  text-align: center;
}
.pass_input_6 {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
  /* 密码 */
.pwd-wrap {
  width: 90%;
  height: 44px;
  padding-bottom: 1px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #ddd;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  cursor: pointer;
}
.pwd-wrap li {
  list-style-type: none;
  text-align: center;
  line-height: 44px;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-flex: 1;
  border-right: 1px solid #ddd;
  float: left;
}
.pwd-wrap li:last-child {
  border-right: 0;
}
.pwd-wrap li i {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #000;
  display: inline-block;
}
/* 清楚浮動 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/* for ie67*/

.clearfix {
  zoom: 1;
}
