<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
    // var cupList = [
    //     {"id":"2acce0e6967947bd8c6ddba1f93f93b8","createTime":"2019-05-20T14:49:34.000+08:00","lastTime":"2019-05-20 14:53:49","lu":"2","ft":"2019-05-20 14:49:34","fu":"2","isDelete":"0","name":"\u5C0F\u676F","retailPrice":"12","coverCharge":"3","cuptypeList":null,"cuptypeListNew":null,"cuptypeListDelete":null},{"id":"51c5be2c8e834532b4def0e2c05855c5","createTime":"2019-05-20T14:14:26.000+08:00","lastTime":"2019-05-20 15:40:30","lu":"2","ft":"2019-05-20 14:14:26","fu":"2","isDelete":"0","name":"\u5927\u676F","retailPrice":"18","coverCharge":"5","cuptypeList":null,"cuptypeListNew":null,"cuptypeListDelete":null}];
	// 	for (var i = 0; i < cupList.length; i++) {
	// 		console.log(i);
	// 		new_cupType_div.find("#cuptypeId").eq(i).attr("name","model.recipeNameListNew[" + cupType_add_index + "].recipeCuptypeListNew["+ i +"].cuptypeId");
	// 		new_cupType_div.find("#cuptypeId").eq(i).attr("id","cuptypeId"+cupType_add_index+i);
	// 		console.log("cuptypeId"+cupType_add_index+i);
	// 		new_cupType_div.find("#cupGram").eq(i).attr("name","model.recipeNameListNew[" + cupType_add_index + "].recipeCuptypeListNew["+ i +"].gram");
	// 		new_cupType_div.find("#cupGram").eq(i).attr("id","cupGram"+cupType_add_index+i);
	// 		console.log("cupGram"+cupType_add_index+i);
	// 	}
    var  a = [{b:1},{b:2},{b:3},{b:4},{b:5}]
    for(var i = 0; i < a.length; i++){
        console.log(a[i])
    }
    console.log('8')
    for(var i=a.length-1; i>= 0 ;i--){
        console.log(a[i])
    }
    </script>
</head>
<body>
    <input type="text" id="cuptypeId">
    <input type="text" id="cupGram">
</body>
</html>